.personal {
  background: #EFEFEF;
  min-height: calc(100vh - 80px);

  .change {
    position: absolute;
    bottom: 160px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    color: #259D8F;
    font-size: 14px;
  }

  .box {
    margin-top: 60px;
    padding: 0 24px;

    .item {
      background: #FFFFFF;
      height: 50px;
      padding: 0 24px;
      line-height: 50px;
      display: flex;
      justify-content: space-between;
    }
  }

  .btn {
    width: calc(100% - 48px);
    position: absolute;
    bottom: 100px;
    left: 24px;

    button {
      color: #259D8F;
      background: #EEFFF9;
      border-radius: 2px;
    }
  }

  .report {
    bottom: 150px;
  }

  .header {
    width: 100%;
    height: 150px;
    background: #259D8F;
    position: relative;

    .card {
      width: calc(100% - 48px);
      height: 130px;
      background: #FFFFFF;
      border-radius: 2px;
      position: absolute;
      left: 24px;
      top: 62px;
      display: flex;
      padding: 0 24px;
      box-sizing: border-box;
      justify-content: space-between;

      .info {
        font-weight: 600;
        color: #999999;
        font-size: 14px;
        line-height: 20px;

        .name {
          margin: 24px 0;
        }
      }

      .head {
        width: 60px;
        height: 60px;
        margin-top: 35px;
      }
    }
  }

  .margin {
    height: 80px;
    width: 100%;
  }

  .title {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
}
