.add-report {
  min-height: 100vh;
  background: #EFEFEF;
  position: relative;

  .btn {
    width: calc(100% - 48px);
    position: absolute;
    bottom: 30px;
    left: 24px;

    button {
      color: #259D8F;
      background: #EEFFF9;
      border-radius: 2px;
    }
  }
}
