.my-report {
  background: #EFEFEF;
  min-height: 100vh;

  .header {
    height: 50px;
    background: #259D8F;

    .van-sticky {
      height: 50px;

      .van-tabs__nav {
        background: #259D8F;

        .van-tab {
          color: #FFFFFF;
        }
      }
    }
  }

  .time-pick {
    height: 54px;
    line-height: 54px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    box-sizing: border-box;

    .time-box {
      width: calc(50% - 10px);
      display: flex;
      justify-content: center;

      .time {
        margin-right: 10px;
      }
    }

    .line {
      width: 20px;
      color: #259D8F;
    }
  }

  .content {
    padding: 0 16px;

    .item {
      height: 52px;
      line-height: 52px;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      background: #FFFFFF;
      font-size: 14px;
      padding: 0 16px;

      .title {
        color: #000000;
      }

      .value {
        color: #BEBEBE;
      }
    }
  }

  .add-report {
    position: fixed;
    bottom: 50px;
    right: 11px;
    width: 60px;
    height: 60px;
    background: #259D8F;
    border-radius: 50% 50%;
    box-shadow: 0 -1px 12px 0 rgba(37, 157, 143, 0.4);
    text-align: center;
    line-height: 60px;
    color: #FFFFFF;
  }
}
